#page-map {
  position: relative;

  display: flex;

  width: 100vw;
  height: 100vh;
}

#page-map aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 440px;

  padding: 80px;

  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
}

#page-map aside h2 {
  margin-top: 64px;

  font-size: 40px;
  line-height: 42px;
  font-weight: 800;
}

#page-map aside p {
  margin-top: 24px;

  line-height: 28px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;

  line-height: 24px;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .create-orphanage {
  position: absolute;
  bottom: 40px;
  right: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;

  background: #15c3d6;

  border-radius: 20px;

  transition: background-color 0.2s;
}

#page-map .create-orphanage:hover {
  background: #17d6ed;
}
